// --------------- MIXIN -----------------

@use "variables" as *;

@mixin main-coloring{
    background-color: $main-color;
    color: $secondary-color;
}

@mixin debug{
    background-color: aquamarine;
    border: 2px dashed black;
}